body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:  hsl(47, 88%, 63%);
}
#container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    width:340px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 10px 10px ;
}
img{
    border-radius: 10px;
}
#superset{
    display:flex;
    flex-direction:column;
    width:340px;
    padding-top:20px;
    justify-content: center;
}
#box{
    display: flex;
    background-color:hsl(47, 88%, 63%);
    box-sizing: border-box;
    height: 30px;
    width:80px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;  
    font-weight: 1000;    
}
#date{
    padding-top: 10px;
    font-weight: 600;
}
#heading{
    display : flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    height: 40px;
    width: 340px;
    padding-top:10px;
}
#text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 17px;
}
#profile{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width:340px;
}
#profile > img{
    width:30px;
}
#profile > p{
    font-weight: 800;
    padding-left: 10px;
}
   